name: actions

on:
  push:
    branches: 
    - "feature/seance4/maker"

jobs:
  workflow:
    runs-on: ubuntu-latest
    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
    - uses: actions/checkout@v4
    - name: Copy .env.
      run: |
        echo "cp .env"
        cp .env.ci .env
    - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Execute tests (Unit and Feature tests) via PHPUnit